:root {
    --borders: #000;
    --main-text: rgb(196, 195, 195);
    --light: #673d6e; 
}
/*universal selectors*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This is your body styling for font, color and background color*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px; 
    font-family: 'Cascadia Code';
    color: var(--main-text);
    background-color: #304153;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px;
    height: auto;
    flex-wrap: wrap;
    background-color: var(--light);
    border-bottom: 3px solid var(--borders);
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color: var(--main-text)
}

.header nav ul {
    list-style-type: none;
}

.header nav ul a {
    text-decoration: none;
    color: var(--main-text)
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 3px;
}

main {
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
}

main section {
    height: auto;
    width: 500px;
    border: 5px dashed var(--borders);
    background-color: #204975;
}

main section h2 {
    margin: 10px;
    text-decoration: underline;
}

#quiz-header {
    padding-left: 115px;
}

main section ul {
    margin: 25px;
    list-style: none;
    text-align: left;
    line-height: 22px;
}
#start::before,
#controls::before,
#scores-controls::before,
#resultsPS::before,
#end::before,
#study-list::before {
    content: " ";
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background: var(--main-text);
    height: 2px;
  }


.button,
.qst-btn,
.footer-btns,
.scores-btns,
.end-btns {
    display: block;
    border-radius: 25px;
    color: var(--main-text);
    font-size: 14px;
    line-height: 14px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: left;
    cursor: pointer;
    background-color: var(--light);
    border: 3px solid var(--borders);
    box-shadow: #000 0px 1px 6px 0px #000 0px 1px 1px 0px;
}

#starter-btn,
#home-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 22px;
    line-height: 22px;
}

.qst-btn {
    width: 90%;
}

.qst-btn.correct {
    color: var(--main-text);
    background-color: #357d44;
}

.qst-btn.wrong {
    color: var(--main-text);
    background-color: #871919;
}

.qst-btn.disabled {
    pointer-events: none;
}


.footer-btns,
.scores-btns,
.end-btns {
    display: inline-block;
}

.button:hover,
.qst-btn:hover,
.scores-btns:hover,
.footer-btns:hover,
.end-btns:hover {
    color: #000;
    background-color: rgb(35, 83, 142);
}

#timer {
    position: relative;
    float: right;
    padding: 5px;
}

#highscore-titles {
    display: inline-block;
    justify-content: space-around;
}

#scores-list {
    margin-left: auto;
    margin-right: auto;
}

#study-list {
    text-align: center;
}

#study-list a {
    display: block;
    text-decoration: none;
    width: 80%;
    line-height: 50px;
    list-style: none;
    color: #792288;
    background-color: #d094da;
    border: 3px solid #000;
    margin: auto;
}

strong {
    color: #d094da;
}


#study-list a:hover {
    width: 80%;
    line-height: 50px;
    list-style: none;
    color: #d094da;
    background-color: #792288;
    border: 3px solid #000;
    margin: auto;
}


/*This is the styling for the footer/credits*/
footer {
    z-index: 1000;
    display: block;
    margin-top: auto;
    width: 100%;
    height: 75px;
    text-align: center;
    color: var(--main-text);
    background-color: var(--light);
    border-top: 3px solid var(--borders);
}
/*Styling for the footer header*/
footer h3 {
    padding-top: 20px;
    font-size: 20px; 
}